- Class를 왜 써야할까?
- Class와 Instance
- Attributes와 Constructor
- Methods
- Instance Methods
- Private attributes/methods 다루기
- Class variable과 Class method
- Inheritance
- Magic methods
- Methods Override
- ABCs
- Iterator과 Generater

In [ ]:
class Student:
    def __init__(self, name):
      self.name = name
      self.money = 0
  
s1 = Student('김민수')
print(s1.name)
print(s1.money)

김민수
0

In [ ]:
s2 = Student('민지')
print(s2.money)

0

In [ ]:
s2.money = 100
print(s2.money)

print(s1.money)

100
0

In [ ]:
class Student:
    def __init__(self, name, money=0):
      self.name = name
      self.money = money
  
s1 = Student(name='김민수', money=2000)
s2 = Student(name='김민지', money=3000)
s2.bonus = True

In [ ]:
print(s1.__dict__)

{'name': '김민수', 'money': 2000}

In [ ]:
print(s2.__dict__)

{'name': '김민지', 'money': 3000, 'bonus': True}

In [ ]:
class Student:
    def __init__(self, name):
      self.name = name
      self.__score = 0

    def get_score(self):
      return self.__score

    def set_score(self, score):
      if score < 0:
          raise TypeError
      self.__score = score

s1 = Student('A')
s2 = Student('B')

In [ ]:
s1.get_score()

0

In [ ]:
s1.set_score(10)
s1.get_score()

10

In [ ]:
class Student:
    def __init__(self, name):
      self.name = name
      self.__score = 0

    @property
    def score(self):
      return self.__score

    @score.setter
    def score(self, score):
      if score < 0:
          raise TypeError
      self.__score = score

In [ ]:
class Student:
    student_num = 0
    def __init__(self, name):
        self.name = name
        Student.student_num += 1

s1, s2, s3 = Student('A'), Student('B'), Student('C')
print(s1.name, s2.name, s3.name)

A B C

In [ ]:
print(Student.student_num)

3

In [ ]:
s4 = Student('D')
print(Student.student_num)

4

In [ ]:
class Student:
    student_num = 0
    def __init__(self, name):
        self.name = name
        self.student_num += 1

s1, s2, s3 = Student('A'), Student('B'), Student('C')
print(s1.name, s2.name, s3.name)

print(Student.student_num)

A B C
0

In [ ]:
class Student:
    num = 0
    st_lst = []
    
    def __init__(self, name):
        self.name = name
        Student.num += 1
        Student.st_lst.append(self)
    
    @classmethod
    def student_list(cls):
        for st in cls.st_lst:
            print(st.name)

s1, s2, s3 = Student('A'), Student('B'), Student('C')


print(s1.name, s2.name, s3.name)

A B C

In [ ]:
print(Student.num)
print(Student.st_lst)

3
[<__main__.Student object at 0x7f442cc41710>, <__main__.Student object at 0x7f442cc41690>, <__main__.Student object at 0x7f442cc415d0>]

In [ ]:
Student.student_list()

A
B
C

In [ ]:
class Person:
    def __init__(self, name):
        self.name = name
        print('사람 추가')

    def say_name(self):
        print(f'{self.name}입니다.')

In [ ]:
class Student(Person):
    def __init__(self, name):
        Person.__init__(self, name)

s1 = Student('김민수')

사람 추가

In [ ]:
s1.say_name()

김민수입니다.

In [ ]:
p1, p2 = Person('A'), Person('B')
s1, s2 = Student('C'), Student('D')

사람 추가
사람 추가
사람 추가
사람 추가

In [ ]:
isinstance(p1, Person)

True

In [ ]:
isinstance(p1, Student)

False

In [ ]:
isinstance(s1, Person)

True

In [ ]:
issubclass(Student, Person)

True

In [ ]:
issubclass(Person, Student)

False

In [ ]:
x = 1

if isinstance(x, int):
  print(x+1)

2

In [ ]:
class Person:
    def __init__(self, name):
        self.name = name
    def say_name(self):
        print(f'{self.name} 입니다.')

class Student(Person):
    def __init__(self, name):
        Person.__init__(self, name)
    def say_name(self):
        print(f'학생 {self.name} 입니다.')

p1 = Person('조교')
s1 = Student('김민수')
p1.say_name()
s1.say_name()

조교 입니다.
학생 김민수 입니다.

In [ ]:
class Test:
  pass

for i in dir(Test):
  print(i)

__class__
__delattr__
__dict__
__dir__
__doc__
__eq__
__format__
__ge__
__getattribute__
__gt__
__hash__
__init__
__init_subclass__
__le__
__lt__
__module__
__ne__
__new__
__reduce__
__reduce_ex__
__repr__
__setattr__
__sizeof__
__str__
__subclasshook__
__weakref__

In [ ]:
class Vector2D:
    def __init__(self, x, y):
        self.x = x
        self.y = y

    def __add__(self, v2):
        return Vector2D(self.x+v2.x, self.y+v2.y)

    def __str__(self):
        return f"x : {self.x}, y : {self.y}"

v1, v2 = Vector2D(1, 2), Vector2D(2, 3)

print(v1.x, v1.y)
print(v2.x, v2.y)

1 2
2 3

In [ ]:
v = v1 + v2
print(v.x)
print(v.y)
print(v)

3
5
x : 3, y : 5

In [ ]:
from abc import ABC, abstractmethod

class Polygon(ABC):
    @abstractmethod
    def draw(self):
        pass

class Rectangle(Polygon):
    # pass
    def draw(self):
        print('rect')

In [ ]:
p = Polygon()

TypeError: ignored

In [ ]:
r1 = Rectangle()
print(isinstance(r1, Polygon))

True

In [ ]:
# r1.draw()

In [ ]:
class IterExample:
    def __init__(self, lst):
        self.lst = lst
        self.index = 0

    def __iter__(self):
        self.index = 0
        return self

    def __next__(self):
        if self.index>=len(self.lst): 
            raise StopIteration
        n = self.lst[self.index]
        self.index+=1
        return n

ie = IterExample([1, 2, 3, 4, 5])

for i in ie: 
  print(i)

1
2
3
4
5

In [ ]:
ie.index

5

In [ ]:
for i in ie: 
  print(i)

1
2
3
4
5

In [ ]:
def test():
    print('print 0')
    yield 0

    print('print 1')
    yield 1

    print('print 2')
    yield 2

for i in test():
  print(i)
  print('----')

print 0
0
----
print 1
1
----
print 2
2
----

In [ ]:
class RSP:
  def __init__(self, mode):
    self.mode = mode
  def __eq__(self, x): # equal : == 연산자 사용
    return self.mode == x.mode
  def __lt__(self, x): # less than : < 연산자 사용
    return self.mode + x.mode in ['RP', 'PS', 'SR']

# gt, le, ge, neq 등 다양한 연산 재정의 가능 

N = int(input())
A = list(map(RSP, input())) # RRRRPPP
B = list(map(RSP, input()))

A_score = 0
B_score = 0
for a, b in zip(A, B):
  if a == b: continue
  A_score += b < a 
  B_score += a < b

if A_score == B_score:
  print('TIE')
elif A_score > B_score:
  print('A',A_score) 
else:
  print('B',B_score)

ValueError: ignored

In [ ]:
x1 = RSP('R')
x2 = RSP('P')

In [ ]:
x1.mode

In [ ]:
x2.mode

In [ ]:
x1 < x2

In [ ]:
class X:
  pass

In [ ]:
class X(object):
  pass