# Data Science Library Exercise

## NumPy

#### Numerical Python

### 실습

In [27]:
import numpy as np

# First 20 countries with employment data
countries = np.array([
    'Afghanistan', 'Albania', 'Algeria', 'Angola', 'Argentina',
    'Armenia', 'Australia', 'Austria', 'Azerbaijan', 'Bahamas',
    'Bahrain', 'Bangladesh', 'Barbados', 'Belarus', 'Belgium',
    'Belize', 'Benin', 'Bhutan', 'Bolivia',
    'Bosnia and Herzegovina'
])

# Employment data in 2007 for those 20 countries
employment = np.array([
    55.70000076,  51.40000153,  50.5       ,  75.69999695,
    58.40000153,  40.09999847,  61.5       ,  57.09999847,
    60.90000153,  66.59999847,  60.40000153,  68.09999847,
    66.90000153,  53.40000153,  48.59999847,  56.79999924,
    71.59999847,  58.40000153,  70.40000153,  41.20000076
])

#### 다음의 array는 선택된 20개 나라의 남성과 여성의 school completion data이다. overall competition rate는 여성과 남성의 평균이다

In [28]:
# First 20 countries with school completion data
countries = np.array([
       'Algeria', 'Argentina', 'Armenia', 'Aruba', 'Austria','Azerbaijan',
       'Bahamas', 'Barbados', 'Belarus', 'Belgium', 'Belize', 'Bolivia',
       'Botswana', 'Brunei', 'Bulgaria', 'Burkina Faso', 'Burundi',
       'Cambodia', 'Cameroon', 'Cape Verde'
])

# Female school completion rate in 2007 for those 20 countries
female_completion = np.array([
    97.35583,  104.62379,  103.02998,   95.14321,  103.69019,
    98.49185,  100.88828,   95.43974,   92.11484,   91.54804,
    95.98029,   98.22902,   96.12179,  119.28105,   97.84627,
    29.07386,   38.41644,   90.70509,   51.7478 ,   95.45072
])

# Male school completion rate in 2007 for those 20 countries
male_completion = np.array([
     95.47622,  100.66476,   99.7926 ,   91.48936,  103.22096,
     97.80458,  103.81398,   88.11736,   93.55611,   87.76347,
    102.45714,   98.73953,   92.22388,  115.3892 ,   98.70502,
     37.00692,   45.39401,   91.22084,   62.42028,   90.66958
])

In [29]:
# 다음의 함수를 완성하시오.
def overall_completion_rate(female_completion, male_completion):
    return (female_completion + male_completion) / 2

print(overall_completion_rate(female_completion, male_completion))

[ 96.416025 102.644275 101.41129   93.316285 103.455575  98.148215
 102.35113   91.77855   92.835475  89.655755  99.218715  98.484275
  94.172835 117.335125  98.275645  33.04039   41.905225  90.962965
  57.08404   93.06015 ]

## Pandas

#### Numerical Python

In [2]:
import pandas as pd

In [3]:
weather = pd.read_csv("data/weather_year.csv")
weather.columns = ["date", "max_temp", "mean_temp", "min_temp", "max_dew",
                "mean_dew", "min_dew", "max_humidity", "mean_humidity",
                "min_humidity", "max_pressure", "mean_pressure",
                "min_pressure", "max_visibilty", "mean_visibility",
                "min_visibility", "max_wind", "mean_wind", "min_wind",
                "precipitation", "cloud_cover", "events", "wind_dir"]

## 실습

### employment
* 주어진 employment.csv파일은 header가 없는 파일이다. 불러온 후 column의 header를 추가한다.
* 국가명을 인덱스로 지정한다.
* 불필요한 컬럼이 있으면 삭제한다.

In [4]:
employment = pd.read_csv("data/gapminder/employment.csv", header=None)
employment.columns = ["country", "employment"]
employment.index = employment.country
employment = employment.drop(['country'], axis=1)

* 나머지 2개의 파일은 비슷한 구조로 되어 있어 employment.csv와 유사한 방법으로 불러오게 된다. 
* life_expectancy.csv
* gdp_per_capita.csv

In [5]:
def read_gapminder_data(filename, colname):
    data = pd.read_csv(f"data/gapminder/{filename}", header=None)
    data.columns = ["country", colname]
    data.index = data.country
    data = data.drop(['country'], axis=1)
    return data

In [6]:
life_exp = read_gapminder_data("life_expectancy.csv", "life_exp")

In [7]:
gdp = read_gapminder_data("gdp_per_capita.csv", "gdp")

* 세개의 데이터프레임을 concat을 활용해서 하나로 합치자.
* http://pandas.pydata.org/pandas-docs/stable/merging.html 를 참고하자.

In [8]:
frames = [employment, life_exp, gdp]
gm_data = pd.concat(frames, axis=1)
gm_data

            employment  life_exp          gdp
country
Albania      51.400002      74.7  1681.613910
Algeria      50.500000      75.0  2155.485231
Angola       75.699997      57.6   562.987685
Argentina    58.400002      75.4  9388.688523
Armenia      40.099998      72.3  1424.190562
...                ...       ...          ...
Uzbekistan   57.500000      68.5   783.027497
Venezuela    59.900002      74.6  5777.628568
Vietnam      71.000000      75.2   623.957483
Zambia       61.000000      49.9   385.122823
Zimbabwe     66.800003      48.4   339.654883

[160 rows x 3 columns]

소팅을 해보자. 소팅은 다음과 같이 한다.
* data.sort_values([colname1, colname2, ...], ascending=[True, False, ...])

In [9]:
gm_data.sort_values(["gdp", "life_exp"], ascending=False)

                  employment  life_exp           gdp
country
Luxembourg         53.500000      80.4  56285.276850
Norway             65.000000      80.6  41904.210210
Japan              57.299999      82.5  40837.266640
Switzerland        64.300003      81.7  38983.875320
United States      62.299999      78.1  38710.885440
...                      ...       ...           ...
Eritrea            64.900002      60.0    167.799223
Malawi             71.800003      50.3    157.621368
Guinea-Bissau      65.900002      51.1    155.994801
Burundi            83.199997      56.5    133.286878
Congo, Dem. Rep.   66.199997      55.1     97.910183

[160 rows x 3 columns]