
#### 035.001.008 컴퓨터의 개념 및 실습



# Practice Session #12


## Table of Contents
- Linear Algebra
- Data Science Library
    - numpy
    - pandas

## Linear Algebra



* **scalar**: a single number; 0 rank tensor
* **vector**: first rank (or order) tensor
* **2D matrix**: second rank tensor
* **n-dimensional matrix**: n-th rank tensor



<img src="https://miro.medium.com/max/1016/0*l8fRljVSisnV_UtR.jpg" width=350/>

[image source](https://medium.com/analytics-vidhya/tensor-networks-intro-5bfb2c770f85)


### Basic Operations

* Addition  

<img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/9e600aa691a93ceb33f0fdac290002d1391d6688"/>

<br/>

* Scalar multiplication  

<img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/cf7fe1075c8c575225e74096007bef9205c88964"/>

<br/>


* Transposition  

<img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/51f6dba024e104b412ed0562163ca9a11fcb9463"/>

* Matrix Multiplication
* multiply each row by each column
    
    <img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/c903c2c14d249005ce9ebaa47a8d6c6710c1c29e"/>

For exmaple, <img src="https://wikimedia.org/api/rest_v1/media/math/render/svg/8435ba88efca5a73e7d1b122bb19f99ef136d71e" width=300/>

<img src="https://upload.wikimedia.org/wikipedia/commons/e/e5/MatrixMultiplication.png" width=350/>


### Examples with Python

#### List

* Creating a 2D List

In [ ]:
rows = 3
cols = 2

# "list comprehension"
a = [ ([0] * cols) for row in range(rows) ]

print("This IS ok.   At first:")
print("   a =", a)

a[0][0] = 42
print("And now see what happens after a[0][0]=42")
print("   a =", a)



* Tracing a 2D List

In [ ]:
matrix = [ [ 1, 2, 3, 4 ],
           [ 5, 6, 7, 8 ],
           [ 9, 10, 11, 12 ]]
print(sum([elem for row in matrix for elem in row]))




https://www.cs.cmu.edu/~112/notes/notes-2d-lists.html



#### Vector Operations


* Add

In [ ]:
x = [1, 2]
y = [2, 3]
z = [3, 4]
print([e for e in zip(x, y, z)])
resV = [sum(e) for e in zip(x, y, z)]
print(resV)



* Scalar multiplication

In [ ]:
# a(x+y)
x = [1, 2, 3]
y = [4, 5, 6]
alpha = 3
print([e for e in zip(x, y)])

resV = [alpha * sum(e) for e in zip(x, y)]
print(resV)




https://www.cs.cmu.edu/~112/notes/notes-2d-lists.html


#### Matrix Operations
* Add, Mul

In [ ]:
matrixA = [[3, 6], [4, 5]]
matrixB = [[5, 8], [6, 7]]
addM = [[sum(pair) for pair in zip(*rows)] for rows in zip(matrixA, matrixB)]
mulM = [[sum(a*b for a,b in zip(rowA, colB)) for colB in zip(*matrixB)] for rowA in matrixA]
print(addM, mulM)




* Equality testing

In [ ]:
matrixA = [[1,2,3], [3,4,5]]
matrixB = [[1,2,5], [7,4,5]]
print(all([pair[0] == pair[1] for rows in zip(matrixA, matrixB) for pair in zip(*rows)]))

## Library 소개, 설치

### Numpy

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/NumPy_logo_2020.svg/2560px-NumPy_logo_2020.svg.png" width=175>



- **Num**erical **Py**thon
- Python에서 array, vector, matrix 등의 연산을 편리하게 해주는 library.
- 고성능 multi-dimensional array와 다양한 수치 연산 메소드 제공하여 Matlab, R 과 같이 사용할 수 있도록 함.
- List와 비슷한 자체 데이터 구조 Array를 제공한다.
    - 다양한 메소드( `mean()`, `std()`, `log()`... )를 통해 계산을 편리하게 할 수 있다.
    - 같은 종류의 데이터로만 구성할 수 있다.


- https://numpy.org


- 설치
    - `$ pip install numpy`
    - `$ pip3 install numpy`
    
        혹은 conda 사용 시
    - `$ conda install numpy`
    

- import

In [ ]:
import numpy as np

#### Pandas

## <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2560px-Pandas_logo.svg.png" width=175>


- Data analysis and manipulation tool
- NumPy 기반으로 개발된 자료구조
- 1차원 데이터 타입인 Series와, 테이블 형태의 DataFrame 이라는 자료 구조 제공


- 설치
    - `$ pip install pandas`
    - `$ pip3 install pandas`
    
        혹은 conda 사용 시
    - `$ conda install pandas`
    

- import

In [ ]:
import pandas as pd

- numpy, pandas는 사용방법도 다양하고 문법도 방대하므로 모든 내용을 커버할 수 없습니다. 
- **실행결과에 관련하여 의문이 있는경우 먼저 공식 문서를 먼저 찾아보시길 바랍니다.**
- 함수의 사용법 등도 아래의 문서에 대부분 기재되어 있습니다
  - https://pandas.pydata.org/docs/
  - https://numpy.org/doc/stable/

### Jupyter Notebook 관련 reference
- 출력관련 : https://financedata.github.io/posts/display-all-values-in-cell-jupyter-notebook.html#

## Numpy

## <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/3/31/NumPy_logo_2020.svg/2560px-NumPy_logo_2020.svg.png" width=175>


### Array 생성

- `np.array()` 로 array를 선언할 수 있다. 
- python의 list와 유사하나 numpy에서 지원하는 다양한 내장 method를 사용할 수 있다
- `np.array()` 의 인자로 생성하고 싶은 어레이의 모양을 넣어준다. 
- 이미 생성된 어레이의 경우 `numpy.shape()` 를 이용해 모양을 확인할 수 있다.

In [ ]:
scalar = np.array(10) 
print(np.shape(scalar))
print(scalar.shape) #(): rank-0인 scalar 값이다.

arr1 = np.array([1, 2, 3]) # 1차원 array를 만든다.
print(np.shape(arr1))
print(arr1.shape) #(3, ) : 1D array

arr2 = np.array([[1,2,3],[4,5,6]])
print(np.shape(arr2))
print

- list 로 선언 후 np.array()의 인자로 넣어 사용할 수 도 있다.

In [ ]:
matA = [[3, 6], [4, 5]]
matB = [[5, 8], [6, 7]]
matA = np.array(matA)
matB = np.array(matB)

- `np.zeros(shape)`, `np.ones(shape)`, `np.empty()`
- 각각 shape의 모양을 가진 numpy array를 만든다. 
- 각각 모든 원소가 0.0, 1.0, 혹은 초기화되지 않은 값을 반환한다.

In [ ]:
arrZeros = np.zeros(10)
arrOnes = np.ones((2, 10))
arrEmpty = np.empty(10)
arrFive = np.arange(5)
arrTen = np.arange(3, 10)

### Vector 연산

- 기본적으로 element-wise 하게 연산을 한다.
- element-wise하다는 것은 동일한 위치의 원소들간에 연산을 한다는 의미이다.

- Add

In [ ]:
x = np.array([1, 2])
y = np.array([2, 3])
z = np.array([3, 4])
resV = x + y + z
print(resV)


* Scalar multiplication

In [ ]:
# a(x+y)
x = np.array([1, 2, 3])
y = np.array([4, 5, 6])
alpha = 3
resV = alpha * (x+y)
print(resV)

### Matrix 연산

- matrix 연산도 동일한 방법으로 가능하다

- Add, Mul
    - `+` `*` 연산자는 element-wise하게 연산을 진행한다. 
    - 위의 예시처럼 행렬간 곱셈을 하고 싶다면, `dot()` 함수를 사용해야 한다

In [ ]:
matrixA = np.array([[3, 6], [4, 5]])
matrixB = np.array([[5, 8], [6, 7]])

addM = matrixA + matrixB
mulM = matrixA * matrixB #element-wise operation
dotM = matrixA.dot(matrixB) #dot operation

# vector-matrix mulplication
vectorA = np.array([1, 0])
mulVM = vectorA * matrixA #element-wise operation
dotVM = vectorA.dot(matrixA) #dot operation

- Equality testing (element-wise)
  - 모든 자리를 비교해 각 위치의 원소가 같은지 확인한다.
  - 비교하는 행렬과 동일한 크기의 array를 반환한다

In [ ]:
matrixA = np.array([[1,2,3], [3,4,5]])
matrixB = np.array([[1,2,5], [7,4,5]])
matrixC = np.array([[1,2,3], [3,4,5]])

In [ ]:
matrixA == matrixB
matrixA == matrixC

- Equality testing
  - 행렬의 모든 원소가 같은지 검사하여 `True`, `False`를 반환한다

In [ ]:
np.array_equal(matrixA, matrixB)
np.array_equal(matrixA, matrixC)


### Array Methods (Slicing)
- Python list의 slicing과 유사
- 행과 열 (2차원의 경우) 별로 slicing을 할 수 있다

In [ ]:
a = np.array([[1,2,3,4], [5,6,7,8], [9,10,11,12]])

b = a[:2, 1:3] #a의 ~1행, 1~2열

a1 = a[1, :] #a의 1행, 모든 열
a2 = a[:2, :] #a의 ~1행, 모든 열

### Array 연산 (Aggregation)

- array의 통계 (sum, mean, max, min, std)를 계산하는 함수
- axis를 지정하여 집계의 기준이 되는 차원을 바꿀 수 있다. 
- axis를 지정하지 않는 경우만 다루며, 이 경우 array의 모든 원소를 대상으로 통계값을 계산한다

In [ ]:
x = np.array([[1,2],[3,4],[5,6],[7,8]])

print(np.mean(x))
print(np.std(x))
print(np.max(x))
print(np.min(x))


### Array 정렬

- array의 모든 값을 오름차순 or 내림차순으로 정렬할 수 있다.

In [ ]:
arr = np.array([0, 10, 3, -1, 1]) 
np.sort(arr) #오름차순 정렬
np.sort(arr)[::-1] #내림차순

# 위 함수를 실행해도 arr list 자체가 바뀌는 것은 아니며, 정렬한 결과를 return한다.
# 즉 정렬한 결과를 저장하기 위해서는 아래와 같이 실행해야 한다
arr = np.sort(arr)
arr = np.sort(arr)[::-1]

## Pandas

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/ed/Pandas_logo.svg/2560px-Pandas_logo.svg.png" width=175>

### 자료 공지

- etl에 압축파일로 주피터 노트북과 데이터가 올라와 있습니다. 
- 다운 받아서 해당 노트북에서 실습을 진행하시면 됩니다. 
- 데이터폴더와 노트북은 같은 경로안에 위치해야 합니다. 

**Colab 관련 추가**
- Google Colab에서 실행을 하는 경우 좌측 파일을 통해서 직접 업로드 후 사용해야 합니다. 
  - 좌측 메뉴 세션 저장소에 업로드 혹은, 드라이브 마운트 사용
    -  ![image.png](https://user-images.githubusercontent.com/37105201/144702017-25fa4bf9-d8d8-4923-b89c-65279961b43f.png)
    
  - 혹은 `google.colabs` 패키지 사용

  - 참고) https://grooot.tistory.com/7

In [ ]:
import pandas as pd
import numpy as np #pandas 는 주로 numpy와 함께 쓰이니 같이 import 해줍니다.


### Series

- object를 담을 수 있는 1D array

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8])
s

In [ ]:
s.values

In [ ]:
s.index


### DataFrame

- Row, Column 으로 이루어진 테이블 형테의 자료 구조 (2D)
- 각 Column은 다른 형태의 데이터를 담을 수 있다

In [ ]:
d = {'col1': [1, 2], 'col2': ['a', 'b']}
df = pd.DataFrame(data=d)
df

   col1 col2
0     1    a
1     2    b

In [ ]:
df.index #각 row들의 index 반환, 따로 지정하지 않는 경우 번호로 들어간다.

RangeIndex(start=0, stop=2, step=1)


### 데이터 불러오기
- read_csv(), ExcelFile(), read_excel() 등의 함수를 통해서 파일에 저장된 데이터를 읽어온다

In [ ]:
data = pd.read_csv("data/weather_year.csv") # 이 코드는 저장소에 업로드하였을 경우에만 실행됩니다. 

data.head() #데이터 상단 확인  (잘 불려왔는지 일부만 확인)
data.tail()


### 데이터 접근하기 (Column)

In [ ]:
data.columns # 모든 column
data['EDT'] # 특정 column
data[['EDT', 'Max TemperatureF', 'Mean TemperatureF']] # 다수의 Columns
data[['EDT', 'Max TemperatureF', 'Mean TemperatureF']].describe() 
#기초 통계 (개수, 평균, 표준편차, 최대,..), 

data.columns = ["date", "max_temp", "mean_temp", "min_temp", "max_dew",
                "mean_dew", "min_dew", "max_humidity", "mean_humidity",
                "min_humidity", "max_pressure", "mean_pressure",
                "min_pressure", "max_visibilty", "mean_visibility",
                "min_visibility", "max_wind", "mean_wind", "min_wind",
                "precipitation", "cloud_cover", "events", "wind_dir"] 
#Column 이름 변경 (공백제거)

In [ ]:
data = data.drop(["mean_humidity"], axis=1)
#행 제거 (axis=1 반드시 사용)

data["mean_humidity"] = (data["min_humidity"] + data["max_humidity"]) / 2 
#새로운 행 생성

data.mean_humidity = data.mean_humidity.apply(lambda h: int(h)) 
#apply(), lambda 함수를 통해 column의 모든 데이터에 동일한 연산 수행
#행간 연산

### 데이터 전처리하기

In [ ]:
# missing data에 대해 빈 문자열 채워넣기
data.events = data.events.fillna("")
data.events.head(10)

### 데이터 접근하기 (Row)

In [ ]:
data.iloc[0]
data.iloc[3:9]

num_rain = 0
for idx, row in data.iterrows():
    if "Rain" in row["events"]:
        num_rain += 1

f"Days with rain: {num_rain}"

'Days with rain: 121'


### 데이터 필터링하기
- 데이터를 살펴보고, 분석하기 위해 필수적

In [ ]:
freezing_days = data[data.max_temp <= 32] #data중 max_temp가 32 이하인 row만 필터링
freezing_days = freezing_days[freezing_days.min_temp >= 20]
freezing_days

In [ ]:
freezing_days = data[(data.max_temp <= 32) & (data.min_temp >= 20)] # 두 개 이상의 조건을 함께 사용할 수 도 있다.

- 숫자가 아닌 경우 lambda와 apply함수를 활용해 필터링 해야한다.

In [ ]:
data["Rain" in data.events] #Error!
data[data.events.apply(lambda e: "Rain" in e)]

### 데이터 Grouping하기

- groupby()
    - 같은 값을 가지는 데이터 포인트를 찾아서 묶어준다.
    - 결과는 tuple로 출력
      - tuple의 첫번째 원소는 groupby()의 기준인 cloud_cover의 값, 두번째 원소는 각 level에 해당되는 모든 row이다

In [ ]:
for d in data.groupby("cloud_cover"):
    print(d[0], d[1])
    """
    d[0] : cloud_cover level
    d[1] : cloud_cover level이 포함된 data row
    loop는 각 data row의 iteration이 아닌 group의 iteration이다. 
    """


#### 데이터 Grouping하기

- groupby()를 활용해 각 그룹별 데이터들의 특징을 알아낼 수 있다.

In [ ]:
cover_temps = {}
for cover, cover_data in data.groupby("cloud_cover"):
    cover_temps[cover] = cover_data.mean_temp.mean()
cover_temps



## 오늘의 실습


### 연습문제

- numpy와 pandas를 활용하여 문제를 풀어봅시다. 
- https://forms.gle/E7EoXsDXF4Wm4ZHo8
- Numpy 01 (countries) : Bahrain의 employment (소수점 전체 입력)
- Numpy 02 (countries) : Cameroon의 overall competition rate (소수점 아래 두자리까지)
- Pandas 01 (gm_data) : gdp의 최대, 최소, 평균을 쉼표로 구분하여 입력 (소수점 아래 버림)


### 실습문제
- https://forms.gle/NiV3wokHZcoRM5Qt7
- Pandas 01 (gm_data) : gdp 상위 10개 국가의 평균과 하위 10개 국가의 평균의 차이 (소수점 아래 버림)
- Pandas 02 (gm_data) : employment가 최대인 나라의 이름
- Pandas 03 (gm_data) : Switzerland보다 기대수명 (life_exp)이 바로 위인 나라의 이름

### **실습과제가 로컬환경에서 실행이 안 되는 경우, 코랩에서 시행 전 파일을 업로드 해주셔야 합니다.**

#### 실행 전처리 과정

In [ ]:
def read_gapminder_data(filename, colname):
    data = pd.read_csv("data/gapminder/{}".format(filename), header=None)
    data.columns = ["country", colname]
    data.index = data.country
    data = data.drop(['country'], axis=1)
    return data

In [ ]:
employment = read_gapminder_data("employment.csv", "employment") 
#FileNotFoundError가 날 경우 colab환경의 올바른 경로 data/gapminder/**.csv를 업로드했는지 확인하세요
life_exp = read_gapminder_data("life_expectancy.csv", "life_exp")
gdp = read_gapminder_data("gdp_per_capita.csv", "gdp")

frames = [employment, life_exp, gdp]
gm_data = pd.concat(frames, axis=1)
gm_data

In [ ]:
# 데이터 정렬 
gm_data.sort_values(['gdp', 'employment'], ascending=False)